@mixin flexc{
    display: flex;
    align-items: center;
    justify-content: center;
}


@mixin breakpoint($width) {
    @media screen and (max-width: $width) {
        @content;
    }
    
}

// @include mixins.breakpoint(900px){ }
