@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  color: black;
}

body {
  background-color: rgba(218, 165, 32, 0.208);
}

.Mainimg {
  height: calc(100vh - 80px);
  background: linear-gradient(180deg, white, transparent 80%), url(images/mainimg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  position: absolute;
  margin-left: 50%;
  transform: translate(-50%);
  font-size: 50px;
  margin-top: 100px;
  background-color: rgba(255, 255, 255, 0.361);
  border-radius: 10px;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-top: 30px;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.textaligncenter {
  text-align: center;
}

header {
  background-color: #fff;
  position: sticky;
  height: 80px;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  box-shadow: 0px 10px 31px -15px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 10px 31px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 31px -15px rgba(0, 0, 0, 0.75);
}
header ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
}
header li:hover {
  transform: scale(1.1);
}
header a {
  text-decoration: none;
}
header a:hover {
  color: rgb(186, 186, 186);
}

.pres h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  font-size: 40px;
}
.pres h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 50px;
}
.pres .containerCardPres {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.pres .containerCardPres h4 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.pres .containerCardPres .cardpres {
  border: solid 4px black;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 5px 20px #999;
  background-color: rgba(218, 165, 32, 0.263);
}
.pres .containerCardPres .imgCardPres {
  height: 300px;
}
.pres .containerCardPres a {
  text-decoration: none;
}
.pres .containerCardPres a:hover {
  transition: 2 ease;
  transform: scale(1.1);
}

footer {
  background-color: #fff;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  box-shadow: 0px -10px 31px -15px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px -10px 31px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -10px 31px -15px rgba(0, 0, 0, 0.75);
}
footer ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer li:hover {
  transform: scale(1.1);
}
footer a {
  text-decoration: none;
}
footer a:hover {
  color: rgb(186, 186, 186);
}

.galerie {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  justify-content: center;
  margin: 40px;
}
.galerie .card {
  background-color: red;
  height: 50vh;
}
.galerie .imgCard {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 1200px) {
  .galerie {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 900px) {
  .galerie {
    grid-template-columns: repeat(1, 1fr);
  }
}

.actualité .center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.actualité .imgactu {
  width: 500px;
}
.actualité #actu {
  margin-bottom: 100px;
}

.hist {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 100px;
}
.hist .txtHist1 {
  grid-column: 2/4;
  grid-row: 1/2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hist .txtHist2 {
  grid-column: 1/3;
  grid-row: 2/4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hist .txtHist3 {
  grid-row: 4/5;
  grid-column: 2/4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hist .a {
  grid-column: 1/2;
  grid-row: 1/2;
}
.hist .b {
  grid-column: 3/4;
  grid-row: 2/3;
}
.hist .c {
  grid-column: 1/2;
  grid-row: 4/5;
}
.hist .containerimghist {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hist .containerimghist .imghist {
  width: 300px;
}

.mentionleg .lienext {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 0.187);
}
.mentionleg .h3ml {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

@media screen and (max-width: 800px) {
  .hist {
    display: flex;
    flex-direction: column;
  }
  h1 {
    font-size: 30px;
  }
  .pres .containerCardPres {
    flex-direction: column;
  }
  .pres .containerCardPres .cardpres {
    margin-bottom: 50px;
  }
  .pres .containerCardPres .imgCardPres {
    height: 30vh;
  }
}
@media screen and (max-width: 600px) {
  .pres .containerCardPres .imgCardPres {
    height: 20vh;
  }
}

/*# sourceMappingURL=build.css.map */
